/gatewayApp/myenv
/gatewayApp/.pytest_cache
/gatewayApp/tests/__pycache__
/gatewayApp/gateway/__pycache__
gatewayApp/utils/__pycache__
gatewayApp/utils/key.priv
/Message/__pycache__
nodeApp/node/__pycache__
app/__pycache__/
Message/__pycache__/
tests/__pycache__/

nodeApp/myenv/
